*{
    margin:0 ;
    padding: 0;
    box-sizing:border-box;

}


/*  //* DEsendend selector */

.box p{


    color:red;

}

/*  //* Child selector parenti box olan tum h1 secer */
.box > h1{
    color:blue;
}