*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;

}

h1{
    background-color: rgb(53, 151, 151);
    color:white ;
    text-align : center;
}

/*   //* fixed da wv viev porta gore yapilir gorunur alana gore  */