*{

    margin: o;
    padding: 0;
    box-sizing: border-box;

}

h1{
    text-align:center;
    background-color: aqua;
    width: 50%;
    margin: 0 auto;
}


.box{
    width: 10rem;
    height: 10rem;
    font-size: 1.5rem;
    border: 2px solid rgb(167, 121, 121);
}

.static{
    background-color: salmon;
    position: static;
    z-index: 1;  
    
    /* //* z-index does not work with static */
}

.relative{

    background-color: lightseagreen;
    position:relative;
    /* top: 3rem;
    left: 3rem;
   */
   top:-5rem;
   z-index: 0;
}