@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Smokum&display=swap');


:root {

  /* //* Color */

  --white:  #fff;
  --black:  #111;
  --green: #2ecc71;
  --green-light: #7dc69b; 
  --olive: #2c3e50;
  --dark-orange: #e67e22;
  --dark-yellow: #f1c40f;
  --dark-red: #e74c3c;
  --vivid-orange: #c0392b;


   /* //* font family */
  --ff-roboto: "Roboto", sans-serif;
  --ff-smokum: "Smokum", cursive;


  /* //* font size */

  --fs-3xl: 3rem;
  --fs-2xl: 2rem;
  --fs-xl: 1.8rem;
  --fs-lg: 1.4rem;
  --fs-md: 1rem;
  --fs-xs: 0.6rem;
  --fs-sm: 0.9rem;

    /*! Shadows  */
    --shadow-light: 0 0 10px rgba(0, 0, 0, 0.3);
    --shadow-dark: 0 0 10px rgba(0, 0, 0, 0.6);
  }


  

h1{
  color:var(--dark-red) ;
  font-family: var(--ff-smokum);
}


button{
  width: 100px;
  padding: 10px;
  background-color: var(--green);
  color: var(--white) ;
}

button:hover{
  background-color: var(--dark-orange);
  cursor: pointer;
  font-size: var(--fs-2xl);
}


p{
  font-family: var(--ff-roboto);
  font-size: var(--fs-xl);
}

div.dark{
  margin: 1rem;
  padding: 1rem;
  box-shadow: var(--shadow-dark);
  background-color: var(--olive);
  color: var(--white);

}

div.light{
  margin:1rem;
  padding: 1rem;
  box-shadow: var(--shadow-light);
  background-color: var(--green-light);
  color: var(--white);
}