*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


ul.nav{

  background-color: aqua;
  /* padding: 1rem; */
  list-style-type: none;
  text-align: center;
  height: 10rem;


  display: flex;  
  /* //* default row konumdadir  display:flex */
  /* flex-direction: column; */
  gap: 1rem 2rem;

  flex-wrap: wrap;

  /* //* ilk rem satir 2. rem sutunlar arasi bosluk verir */

   justify-content: center;
   justify-content: space-between;
   justify-content: space-around;
   justify-content: flex-start;
   justify-content: end;
    justify-content: space-evenly;

    align-items: center;

    /* //* Align- item center Dikeyde Hizalar */

    align-items: baseline;
    align-items: flex-start;
    align-items: flex-end;
    align-items: stretch; 
    /* //*   DEfault deger */
    align-items: center;

    /* //*cok  satir saysi fazla ise align-item yerie align-content kullanilabilir block olarak hareket eder  */
  

}



ul.nav li {
  background-color: burlywood;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 4px ;
}


.container{

  margin-top: 2rem;
  background-color: rgb(197, 197, 40);
  padding: 1rem;
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.container * {
  background-color: rgb(233, 85, 51);

}

.container header {
  flex-grow: 2;
  flex-basis: 100%;
}

.container main {
  flex-grow: 3;
}



.container footer {
  flex-basis: 100%;
}

.container .left {
  flex-grow: 1;
}
.container .right {
  flex-grow: 2;
}

