*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}


ul.nav{

  background-color: aqua;
  padding: 1rem;
  list-style-type: none;
  text-align: center;


  display: flex;  
  /* //* default row konumdadir  display:flex */
  /* flex-direction: column; */
  gap: 1rem 2rem;

  flex-wrap: wrap;

  /* //* ilk rem satir 2. rem sutunlar arasi bosluk verir */

   justify-content: center;
   justify-content: space-between;
   justify-content: space-around;
   justify-content: flex-start;
   justify-content: end;
    justify-content: space-evenly;
  

}



ul.nav li {
  background-color: burlywood;
  width: 7rem;
  padding: 0.5rem;
  border-radius: 4px ;
}