
* {
    margin : 0; 
    padding : 0;
    box-sizing: border-box; 
    color: greenyellow;
    color: #123456;
    color: #bebe;
    color: #000;
    color: #fff;
    color: rgba(96, 202, 96, 0.933);

}



.images {
    width: 400px;

     /* //! Border */

     border-color: rgb(149, 218, 149);
     border-width: 6px;
     border-style: solid;
     border-radius: 10px;
}



.container {
   background-color: antiquewhite;
   margin: 50px ;   /*  4 tarafa 50 px margin verir */
   margin: 10px 30px; /* 10px top ve bottom 30px left ve right */
   text-align: center  /* icerikleri ortalar */;
 
   padding: 10px ; /* iceriklerle container arasina 10px bosluk verir */
   padding: 10px 20px; /* 10px top ve bottom 20px left ve right */

}

.div {
    background-color: rgb(74, 83, 175);
    margin-top: 10px;
    margin-bottom: 20px;
    width: 200px;
    /* height: 200px; */
    /* //* tercih edilmiyor height: 30px; */
    border-radius: 10px;

    margin:20px auto;   /* right and left ortala  */
    
}


 .box{
    width: 200px;
    border: 5px solid red;
    padding: 10px;
 }

.content{

    
     box-sizing: content-box;
     background-color: rgb(227, 199, 212);


}

.border{
 
    
    box-sizing: border-box;
    background-color: rgb(54, 183, 100);

}

.center {

   text-align: center;
}

.style{

    font-weight: bold;  /* kalın */
    font-style: italic; /* italik */
    text-decoration: underline; /* alt cizgi */


    font-size : 20px;
    font-family: Arial, sans-serif;
    font-variant: small-caps;
    text-align: center  /* icerikleri ortalar */;
    text-decoration:solid underline; /* cizgi cekme */
    text-transform:lowercase; /* kucuk harf */
    text-indent: 50px; /* ilk satiri 50px kaydirir */

    line-height: 50px; /* satir araligi */

    letter-spacing: 5px; /* harf araligi */
    

}

.style span {
    color: red;
}


.style1{

    font-weight: bold;  /* kalın */
   
    text-decoration: underline; /* alt cizgi */


    font-size : 20px;
    font-family: Arial, sans-serif;
    font-variant: small-caps;
    
    text-decoration:solid underline; /* cizgi cekme */
    text-transform:lowercase; /* kucuk harf */
    text-indent: 10px; /* ilk satiri 50px kaydirir */

    line-height: 20px; /* satir araligi */

    letter-spacing: 2px; /* harf araligi */
    

}